body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-family: 'montserrat', sans-serif;
  font-size: 2.0rem;

}

h3 {
  color: #11999E;
  font-family: 'montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin:50px auto;
}
a{
color: #EAF6F6;
font-family: 'montserrat', sans-serif;
margin:10px 20px;
text-decoration: none;
}
a:hover{
  color:#11999E;
}
.profile{
  width:30%;
  margin:auto;
  padding-bottom: 5px;
}
.photo{

  width:28%;
  margin:45px 30px 20px 0;
  float:left;

}
.photo1{

  width:28%;
  margin:45px 30px 20px 0;
  float:right;

}
.intro{

  line-height: 2;
}

.skill-row{
  width:40%;
  margin:45px auto 20px auto;
  text-align: left;
  line-height: 2;
}

.attribute {
  font-size: 10px;
color: #11999E;
}

.middle-container {
  margin:60px 0 100px;
}
.spaceup{
  margin-bottom: 30px;
}
.copyright{
  color:#EAF6F6;
  font-size: 1rem;
  padding:10px 0 0 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding:40px 0 15px;
}
  .contact-me{
    width:40%;
    margin:40px auto 60px;
  }
  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
